* {
  box-sizing: border-box; }

.active {
  color: #fff; }

body,
html {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #777;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important; }

h1 {
  font-size: 3rem; }

h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  font-weight: bolder; }

h2 {
  text-transform: uppercase;
  margin: 0 0 20px 0;
  font-weight: 800;
  font-size: 36px;
  color: #333; }

h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333; }

h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600; }

h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px; }

ul {
  list-style: circle; }

li {
  margin-bottom: 5px; }

.title-underline {
  background: linear-gradient(to right, #333333 25%, #777777 75%);
  padding-bottom: 1px;
  margin: 5% 0; }

.section {
  padding: 0 5%; }

.dark {
  background-color: #2b2b2b; }

.section-title {
  background-color: #ffffff;
  padding: 10px 0;
  margin-bottom: 3px; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; }

.dm-text {
  color: #ffffff !important;
  background-color: #2b2b2b; }

.selected {
  color: #ffffff !important; }

.react-sweet-progress-symbol {
  color: #ffffff !important;
  font-size: 1.2rem;
  font-weight: bolder; }

.circle-icon {
  background: linear-gradient(to right, #646464 25%, #777777 75%);
  width: 100px !important;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 30px;
  color: #ffffff; }

.header__container--base {
  position: relative;
  z-index: 1;
  top: 0;
  height: 10vh;
  padding-top: 3vh;
  justify-content: space-around;
  background-image: linear-gradient(to bottom, #141414, rgba(0, 0, 0, 0.767));
  box-shadow: 0px 5px 4px -3px rgba(0, 0, 0, 0.84); }
  .header__container--base > div > a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: #999;
    font-size: medium;
    font-size: 1.2rem;
    font-weight: lighter; }
    .header__container--base > div > a:hover {
      color: #ffffff; }

.header__home-container--base {
  display: flex;
  width: 30%;
  height: 100%;
  justify-content: center; }

.header__link-container--base {
  display: flex;
  width: 70%;
  height: 100%;
  justify-content: space-evenly; }

.header__select-container--base {
  display: flex;
  flex-direction: row; }

.landing__parallax-container--base {
  width: 100%;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.landing__title--base {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 3.5rem;
  font-weight: bolder;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.79); }

.landing__subtitle--base {
  font-family: "Open-Sans", sans-serif;
  color: #ffffff;
  font-size: 2rem;
  font-weight: lighter;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.79); }

.landing__button--base {
  font-family: "Open-Sans", sans-serif;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: lighter;
  padding: 2% 5%;
  margin-top: 3%;
  border-radius: 25px;
  background-color: rgba(43, 43, 43, 0.911); }
  .landing__button--base:hover {
    background-color: rgba(59, 59, 59, 0.849); }

.landing__about--base {
  padding: 2% 5% 5%; }

.landing__about-image--base {
  width: 300px;
  height: 300px;
  margin-bottom: 30px; }
  .landing__about-image--base > img {
    width: 300px;
    height: 300px;
    object-fit: cover; }

.landing__about-description--base {
  padding: 3% 5%;
  width: 70%;
  font-size: 1.2rem; }

.landing__languages--base {
  padding: 2% 5% 10%; }

.landing__degrees--base {
  padding: 0 10% 5%; }

.landing__degree--base {
  justify-content: space-between;
  flex-wrap: wrap; }

.landing__experiences--base {
  padding: 0 5% 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.landing__position-underline--base {
  background: linear-gradient(to right, #333333 0%, #777777 100%);
  padding-bottom: 3px;
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: flex-start; }

.landing__position--base {
  background-color: #ffffff;
  padding-bottom: 5%;
  height: 100%; }

.landing__job-info--base {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.landing__job-description--base {
  width: 70%;
  padding: 5%;
  font-size: 1.1rem; }
  .landing__job-description--base > p {
    margin-bottom: 10px;
    text-align: justify; }
  .landing__job-description--base > ul {
    width: 100%;
    padding: 0; }
    .landing__job-description--base > ul > li {
      text-align: center;
      list-style: none; }

.landing__job-logo--base {
  width: 300px;
  height: 200px;
  object-fit: contain;
  align-self: center; }

.landing__soft-skills--base {
  justify-content: space-evenly;
  padding-top: 5%; }

.landing__soft-skills-list--base > h3 {
  padding-top: 5px; }

.landing__skills--base {
  padding-top: 1%;
  padding-bottom: 5%; }

.landing__skill-icons--base {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1% 5%; }
  .landing__skill-icons--base > div > h3 {
    color: #ffffff; }

.landing__portfolio-description--base {
  padding: 0 5% 5%;
  font-size: 1.1rem; }

.landing__portfolio-items--base {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between; }

.landing__portfolio--base {
  padding-top: 1%;
  padding-bottom: 5%; }

.portfolio__container--base {
  color: #ffffff;
  font-size: 1.5rem;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: "Open-Sans", sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.portfolio__item--base {
  width: 32%;
  height: 250px;
  margin-bottom: 3%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.portfolio__overlay--base {
  height: 100%;
  position: relative;
  opacity: 0;
  background-color: rgba(43, 43, 43, 0.911); }
  .portfolio__overlay--base:hover {
    opacity: 1; }

.projects__page--base {
  padding: 0 10% 10%; }

.projects__link-underline--base {
  padding-bottom: 4px; }

.projects__link-container--base {
  background-color: #ffffff;
  border-bottom: 3px;
  padding-bottom: 1%; }

.projects__link--base {
  padding: 1% 5%;
  text-decoration: none;
  font-size: larger;
  color: #333; }
  .projects__link--base:hover {
    color: #777; }

.project__card--base {
  background-color: #ffffff;
  margin: 0;
  border-top: #ffffff 25px solid;
  border-bottom: #ffffff 5px solid; }

.project__card-border--base {
  margin-top: 40px;
  background: linear-gradient(to right, #333333 0%, #777777 100%);
  padding-bottom: 3px; }

.project__description--base {
  padding: 0 5% 3%;
  font-size: 1.1rem; }

#contact {
  padding: 2% 2% 15px;
  background: linear-gradient(to bottom right, #3a3a3a 0%, #202020 100%);
  color: rgba(255, 255, 255, 0.75); }

#contact h2 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px; }

#contact h3 {
  color: #fff;
  margin-bottom: 25px;
  padding-bottom: 20px;
  font-weight: 400; }

#contact a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75); }
  #contact a:hover {
    color: rgba(255, 255, 255, 0.9); }

#contact form {
  padding-top: 20px; }

#contact .text-danger {
  color: #cc0033;
  text-align: left; }

#contact .btn-custom {
  margin: 30px 0;
  background: transparent;
  border: 2px solid #fff; }

#contact .btn-custom:hover {
  color: #333333;
  background: #fff; }

label {
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  float: left; }

#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #444;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none; }

#contact .form-control:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent; }

.form-control::-webkit-input-placeholder {
  font-family: "Open-Sans", sans-serif;
  color: #777; }

.form-control:-moz-placeholder {
  font-family: "Open-Sans", sans-serif;
  color: #777; }

.form-control::-moz-placeholder {
  font-family: "Open-Sans", sans-serif;
  color: #777; }

.form-control:-ms-input-placeholder {
  font-family: "Open-Sans", sans-serif;
  color: #777; }

#contact .contact-item {
  margin: 20px 0; }

#contact .contact-item span {
  color: white;
  margin-bottom: 10px;
  display: block; }

#contact .contact-item .fa {
  margin-right: 10px; }

#contact .social {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 25px;
  margin-top: 25px;
  text-align: center; }

#contact .social ul li {
  display: inline-block;
  margin: 0 20px; }

#contact .social .fa {
  font-size: 22px;
  width: 48px;
  height: 48px;
  padding: 12px 0;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s; }

.contact__main--base {
  display: flex;
  flex-direction: column; }

.contact__title--base {
  display: flex;
  flex-direction: column; }

.contact__input-row--base {
  justify-content: space-between; }

.contact__input--base {
  width: 49%; }

.contact-info {
  padding: 0 2%; }

.contact__button--base {
  font-family: "Open-Sans", sans-serif;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: lighter;
  padding: 2% 5%;
  margin-top: 3%;
  border-radius: 25px;
  background-color: rgba(43, 43, 43, 0.911); }
  .contact__button--base:hover {
    background-color: rgba(59, 59, 59, 0.849); }

@media (max-width: 1375px) {
  .center {
    width: 100%;
    display: flex;
    justify-content: center; } }

@media (max-width: 1250px) {
  .center {
    width: 100%;
    display: flex;
    justify-content: center; }
  .portfolio__item--base {
    width: 100%;
    height: 500px; }
  .landing__job-description--base {
    width: auto; }
  ul {
    list-style: circle; }
    ul > li {
      text-align: center; }
  .projects__page--base {
    padding: 0 3%; }
  .landing__parallax-container--base {
    background-position: center;
    background-size: cover;
    background-attachment: scroll; }
  .landing__about-description--base {
    width: 100%; } }
